* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgb(233, 203, 221), #514A9D);
    font-family: Roboto, sans-serif;
}

.wrapper {
    max-width: 600px;
    ;
    margin: auto;
}

.menu {
    list-style: none;
    padding: 10px;
    border: 10px solid #191555;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item>a,
.submenu-item>a {
    display: inline-block;
    padding: 15px 30px;
    color: #054b1c;
    background-color: #fff;
    text-decoration: none;
}

.menu-item>a:hover,
.submenu-item>a:hover {
    background: rgb(94, 4, 34);
    color: #ffffff;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: rgb(17, 91, 121);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu-item:hover>.submenu {
    display: block;
}

.submenu-item {
    white-space: nowrap;
}

.box {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: #424242;
    position: relative;
    list-style: none;
}

.box-b {
    list-style: none;
}

.first {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
}

.second {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: violet;
    position: absolute;
    top: 0;
    left: 150px;
}

.third {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lawngreen;
    position: absolute;
    top: 0;
    right: 0;
}

.fourth {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lemonchiffon;
    position: absolute;
    top: 150px;
    left: 0;
}

.fifth {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 118, 252);
    position: absolute;
    top: 150px;
    left: 150px;
}

.six {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(231, 42, 105);
    position: absolute;
    top: 150px;
    right: 0;
}

.seventh {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(32, 189, 236);
    position: absolute;
    bottom: 0;
    left: 0;
}

.eighth {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(223, 39, 39);
    position: absolute;
    bottom: 0;
    left: 150px;
}

.nineth {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(24, 114, 28);
    position: absolute;
    bottom: 0;
    right: 0;
}