.main-content {
    width: 1920px;
    min-height: 600px;
    margin: auto;
}

.main-content__p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.main-content__article {
    width: 1142px;
    min-height: 419px;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.main-content-article-card__top-p {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
}

.main-content-article-card__article {
    font-size: 15px;
    width: 250px;
    color: #999999;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}

.main-content-article__card {
    width: 332px;
    min-height: 69;
    list-style: none;
}

.services-list__title::before {
    content: "";
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 40px;
}