                .wrapper {
                    width: 1000px;
                    margin: auto;
                    background: #ffffff;
                }
                
                .site-logo {
                    float: left;
                }
                
                .top-menu {
                    width: 1000px;
                    margin: auto;
                    text-align: right;
                    padding: 0px;
                }
                
                .menu-item {
                    display: inline-block;
                    margin-right: 2px;
                    text-align: right;
                    margin: auto;
                }
                
                .menu-link {
                    display: block;
                    width: 100px;
                    height: 10px;
                    text-align: right;
                    color: #0f0101;
                    text-decoration: none;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .slider {
                    position: relative;
                    width: 1900px;
                    height: 700px;
                    margin: 0;
                }
                
                .slider-ctrl {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    display: inline-block;
                    width: 65px;
                    height: 75px;
                    opacity: 0.5;
                    background-color: #4f9c8a;
                    border: none;
                    font-size: 40px;
                    color: white;
                    z-index: 3;
                }
                
                .slider-ctrl-prev {
                    left: 200px;
                }
                
                .slider-ctrl-next {
                    right: 200px;
                }
                
                .slider-ctrl:hover {
                    background-color: #1abc9c;
                }
                
                .slides {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                
                .slides-image {
                    display: block;
                    max-width: 100%;
                    height: 700px;
                    margin-top: 40px;
                    object-fit: cover;
                    list-style: none;
                    margin-left: 0;
                    margin-right: 0;
                }
                
                .img-slides {
                    position: relative;
                }
                
                .slides-h1 {
                    position: absolute;
                    top: 40%;
                    left: 500px;
                    color: #ffffff;
                    font-size: 50px;
                    z-index: 2;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .slides-h3 {
                    position: absolute;
                    top: 50%;
                    left: 500px;
                    color: #ffffff;
                    font-size: 30px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .overlay {
                    position: absolute;
                    width: 1900px;
                    height: 700px;
                    background-color: #1f1b1a;
                    opacity: 0;
                    z-index: 1;
                }
                
                .img-slides:hover .overlay {
                    opacity: 0.6;
                }
                
                h1 {
                    text-align: center;
                    font-size: 50px;
                    color: #515151;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                hr {
                    background: #1abc9c;
                    height: 5px;
                    width: 150px;
                    margin: auto;
                }
                
                .list-item {
                    width: 1000px;
                    margin: auto;
                }
                
                .content-item {
                    display: inline-block;
                    width: 205px;
                    height: auto;
                    text-align: center;
                    text-decoration: none;
                    margin-right: 40px;
                    font-family: Roboto, sans-serif;
                    background: #e8effc;
                    position: relative;
                }
                
                .title {
                    display: block;
                    text-align: left;
                    color: #ffffff;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    background: linear-gradient(90deg, #323232 80%, #8c8c8c 20%);
                    height: 30px;
                    width: 215px;
                    text-decoration: none;
                    margin-right: 2px;
                    padding: 2px;
                }
                
                .card-button1 {
                    position: absolute;
                    width: 50px;
                    height: 45px;
                    display: inline-block;
                    border: none;
                    padding: 0;
                    margin: 0;
                    background-color: transparent;
                    cursor: pointer;
                    background-image: url(\images11.jpg);
                    top: 30%;
                    left: 10px;
                    z-index: 2;
                }
                
                .card-button2 {
                    position: absolute;
                    width: 45px;
                    height: 46px;
                    display: inline-block;
                    border: none;
                    padding: 0;
                    margin: 0;
                    background-image: url(shuffle11.jpg);
                    background-color: transparent;
                    cursor: pointer;
                    top: 30%;
                    left: 70px;
                    z-index: 3;
                }
                
                .card-button3 {
                    position: absolute;
                    width: 45px;
                    height: 46px;
                    display: inline-block;
                    border: none;
                    padding: 0;
                    margin: 0;
                    background-image: url(Simpleicons.jpg);
                    background-color: transparent;
                    cursor: pointer;
                    top: 30%;
                    left: 130px;
                    z-index: 4;
                }
                
                .box {
                    height: 60px;
                    width: 160px;
                    background: #323232;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    z-index: 1;
                }
                
                .card-button4 {
                    position: absolute;
                    width: 45px;
                    height: 46px;
                    display: inline-block;
                    border: none;
                    padding: 0;
                    margin: 0;
                    background-image: url(cart1.jpg);
                    background-color: transparent;
                    cursor: pointer;
                    top: 10%;
                    left: 10px;
                    z-index: 5;
                }
                
                .box-text {
                    font-size: 14px;
                    color: #ffffff;
                    text-align: right;
                }
                
                .overlay-1 {
                    position: absolute;
                    width: 205px;
                    height: auto;
                    background-color: #323232;
                    opacity: 0;
                    z-index: 10
                }
                
                .content-item:hover .overlay-1 {
                    opacity: 0.6;
                }
                
                .footer-box {
                    height: 90px;
                    width: 1900px;
                    position: relative;
                    background-color: #323232;
                    margin-top: 50px;
                }
                
                .text {
                    color: #ffffff;
                    font-size: 10px;
                    text-align: center;
                    position: absolute;
                    top: 20px;
                    left: 40%;
                }
                
                .text:hover {
                    color: #509d8b;
                }