 ul {
     width: 960px;
     margin: auto;
     background: white;
     padding: 60px;
 }
 
 .menu-item {
     display: inline-block;
     margin-right: 20px;
     font-family: 'Playfair Display', arial;
 }
 
 .menu-link {
     display: block;
     width: 200px;
     text-align: center;
     text-decoration: none;
     color: #7d7d7d;
     font-family: 'Playfair Display', arial;
 }
 
 .title {
     color: #cccccc;
     text-align: left;
     font-family: 'Playfair Display', arial;
 }
 
 .list-item {
     display: inline-block;
     width: 420px;
     text-align: left;
     text-decoration: none;
     color: #626262;
     margin-right: 30px;
     font-family: 'Playfair Display', arial;
 }
 
 .btn-load {
     display: inline-block;
     height: 20px;
     color: #626262;
     border: 2px solid;
     padding: 20px;
     text-decoration: transparent;
     margin-left: 600px;
 }
 
 a:hover {
     color: #484ced;
     background-color: #e0e0f5;
 }