                            @font-face {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            src: url('../fonts/montserrat-v12-latin-regular.eot');
                            /* IE9 Compat Modes */
                            src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                            url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
                            url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
                            url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
                            url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
                            /* Legacy iOS */
                        }
                        /* roboto-regular - latin */
                        
                        @font-face {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            src: url('../fonts/roboto-v18-latin-regular.eot');
                            /* IE9 Compat Modes */
                            src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                            url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
                            url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
                            url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
                            url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg');
                            /* Legacy iOS */
                        }
                        
                        .wrapper {
                            max-width: 1200px;
                            min-width: 320px;
                            margin: auto;
                            padding: 0;
                            position: relative;
                        }
                        
                        .baner-content {
                            min-width: 320px;
                            max-width: 1200px;
                            margin: 0;
                            padding: 0;
                        }
                        
                        .baner {
                            max-height: 100%;
                            height: auto;
                            position: relative;
                            margin: 0;
                            padding: 0;
                            opacity: 1;
                        }
                        
                        .overlay {
                            background-color: #1f1b1a;
                            position: absolute;
                            min-width: 320px;
                            max-width: 100%;
                            height: 500px;
                            opacity: 1;
                        }
                        
                        li {
                            list-style: none;
                        }
                        
                        .site-navigation {
                            justify-content: space-between;
                            display: flex;
                            min-width: 100px;
                            margin: 0;
                            padding: 10;
                        }
                        
                        .menu-link1 {
                            position: absolute;
                            top: 50px;
                            right: 100px;
                            font-size: 14px;
                            color: rgb(255, 255, 255);
                            font-family: "Montserrat";
                            font-weight: bold;
                            text-align: center;
                            text-decoration: none;
                        }
                        
                        .menu-link2 {
                            position: absolute;
                            top: 50px;
                            right: 170px;
                            font-size: 14px;
                            color: rgb(255, 255, 255);
                            font-family: "Montserrat";
                            font-weight: bold;
                            text-align: center;
                            text-decoration: none;
                        }
                        
                        a:hover {
                            border: 1px solid rgb(255, 255, 255);
                            border-radius: 10px;
                        }
                        
                        .site-logo {
                            position: absolute;
                            top: 38%;
                            left: 60px;
                            font-size: 20px;
                            letter-spacing: 1px;
                            color: rgb(255, 255, 255);
                            font-family: "Montserrat";
                            font-weight: bold;
                            text-align: center;
                            text-decoration: none;
                        }
                        
                        h1 {
                            position: absolute;
                            top: 44%;
                            left: 10%;
                            font-size: 38px;
                            color: rgb(255, 255, 255);
                            font-family: "Montserrat";
                            font-weight: bold;
                            text-align: center;
                            margin: 0;
                        }
                        
                        .baner-p {
                            position: absolute;
                            top: 70%;
                            left: 20%;
                            font-size: 18px;
                            color: rgb(255, 255, 255);
                            font-family: "Roboto";
                            text-align: center;
                            margin: 0;
                        }
                        
                        .button {
                            position: absolute;
                            top: 80%;
                            left: 30%;
                            max-width: 285px;
                            height: 43px;
                            background-color: #ff4e50;
                            border: 1px solid #ff4e50;
                            border-radius: 20px;
                            text-align: center;
                            color: rgb(255, 255, 255);
                        }
                        
                        h2 {
                            font-size: 22px;
                            color: rgb(51, 51, 51);
                            font-family: "Montserrat";
                            font-weight: bold;
                            text-align: center;
                            margin: 50px;
                        }
                        
                        .card-section {
                            position: absolute;
                            top: 500px;
                            text-align: center;
                        }
                        
                        .card-arcicle {
                            margin: 0;
                            padding: 0;
                        }
                        
                        .card-box {
                            position: relative;
                            text-align: center;
                            margin: 0;
                            width: 290px;
                            height: auto;
                        }
                        
                        .card-image {
                            max-width: 100%;
                            height: auto;
                            border: 2px solid rgb(255, 255, 255);
                            border-radius: 60px;
                            text-align: center;
                        }
                        
                        .name {
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                            font-family: "Montserrat";
                            font-weight: bold;
                        }
                        
                        .info {
                            font-size: 14px;
                            color: rgb(102, 102, 102);
                            font-family: "Roboto";
                            text-align: center;
                        }
                        
                        .icon1 {
                            position: absolute;
                            top: 80px;
                            right: 75px;
                            border-radius: 18px;
                            background-color: #ff4e50;
                            border: 4px solid #ffffff;
                        }
                        
                        .icon2 {
                            position: absolute;
                            top: 80px;
                            right: 75px;
                            border-radius: 18px;
                            background-color: #ffa407;
                            border: 4px solid #ffffff;
                        }
                        
                        .icon3 {
                            position: absolute;
                            top: 80px;
                            right: 75px;
                            border-radius: 18px;
                            background-color: #1bd7ad;
                            border: 4px solid #ffffff;
                        }
                        
                        .icon4 {
                            position: absolute;
                            top: 80px;
                            right: 75px;
                            border-radius: 18px;
                            background-color: #4e72db;
                            border: 4px solid #ffffff;
                        }
                        
                        .button-bottom {
                            width: 280px;
                            height: 39px;
                            font-size: 14px;
                            color: rgb(255, 78, 80);
                            font-family: "Montserrat";
                            font-weight: bold;
                            text-align: center;
                            border: 2px solid rgb(255, 78, 80);
                            border-radius: 20px;
                            background: rgb(255, 255, 255);
                        }
                        
                        @media (min-width: 600px) {
                            .wrapper {
                                width: 600px;
                                height: auto;
                            }
                            .baner {
                                min-width: 600px;
                                max-width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 120px;
                            }
                            .menu-link1 {
                                position: absolute;
                                top: 20px;
                                right: 100px;
                                font-size: 14px;
                                color: rgb(255, 255, 255);
                                font-family: "Montserrat";
                                font-weight: bold;
                                text-align: center;
                                text-decoration: none;
                            }
                            .menu-link2 {
                                position: absolute;
                                top: 20px;
                                right: 170px;
                                font-size: 14px;
                                color: rgb(255, 255, 255);
                                font-family: "Montserrat";
                                font-weight: bold;
                                text-align: center;
                                text-decoration: none;
                            }
                            .site-logo {
                                position: absolute;
                                left: 50px;
                                top: 20px;
                                font-size: 14px;
                                letter-spacing: 1px;
                                color: rgb(255, 255, 255);
                                font-family: "Montserrat";
                                font-weight: bold;
                                text-align: center;
                            }
                            .card-section {
                                position: absolute;
                                top: 500px;
                                max-width: 600px;
                            }
                            .card-arcicle {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                justify-items: center;
                                min-width: 600px;
                            }
                            .card-box {
                                width: 290px;
                                margin-right: 0;
                            }